.footer{
    margin: 100px 200px 20px 200px ;
    .top{
        display: flex;
        gap:50px;
        .item{
           flex: 1;
           display: flex;
           flex-flow: column;
           gap: 10px;
           text-align: justify;
           font-size: 16px;
        }
        h1{
           font-size:16px; 
           font-weight: 500;
           color: #555;
        }
        span{
           color: #555;
        }
    }
    .buttom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left{
           display: flex;
           align-items: center;
           gap: 25px;
           .logo{
            color: rgb(39, 120, 94);
            font-weight: bold;
            font-size: large;
           }
           .copyright{
            font-weight: 400;
           }
        }
        .right{
           img{
            height: 70px;
            width: 400px;
           }
        }
    }








}